

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #14bdac;
	height:100vh;

}
#text{
	height:100px;
	width:200px;
	color:white;
	font-size: 30px;
	position: absolute;
	left: 50%;
	margin-left: -65px;
	top:15px;


}

td{
	border: 6px solid #0da192;/*создание границы*/
	height: 100px;/*ставим высоту 100 пикселей*/
	width: 100px;/*ставим длину 100 пикселей*/
	text-align: center;/*текст в центре*/
	vertical-align: middle;
	font-family: 'Comic Sans MS',cursive,sans-serif;/*вид шрифта*/
	color:#545454;
	font-size: 60px;/*размер шрифта*/
	cursor: pointer;/*меняем курсор*/
}

/*ставим в центре*/
table{
	border-collapse:collapse ;/*объединяем границы*/
	position: absolute;
	left: 50%;
	margin-left: -155px;
	top: 70px;
}


.endgame{
	display: none;
	width: 200px;
	top: 120px;
	position: absolute;
	left: 50%;
	background-color: rgba(205,133,63,0.8);
	margin-left: -100px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-size: 2em;

}
